@page

@using ElleChristine.Web.Models;

@{
    ViewData["Title"] = "Error - Elle Christine";
}

<partial name="Partials/Errors/_PageTitle" />

<div>
    <div class="container">

        <h2 class="my-5 text-danger text-center">We can't find the page you're looking for.</h2>

        <p>&nbsp;</p>

        <div class="text-center">
            <img class="img-thumbnail" src="/imgs/content/errors/404.jpg" />
        </div>

        <p>&nbsp;</p>

    </div>
</div>

