 <section class="bg-img banner-section cover-background full-screen left-overlay-dark top-position1"
         data-overlay-dark="5"
         data-background="imgs/page-titles/home-2.jpg" id="PageTitleSection">

    <div class="container position-absolute top-50 start-50 translate-middle z-index-9">

        <div class="row align-items-center">
            <div class="col-lg-8 col-xxl-6">
                <h1 class="display-lg-6 mb-3 mb-lg-4 text-white">
                    ELLE CHRISTINE
                </h1>
                <p class="w-md-95 lead text-white opacity7 d-none d-sm-block">
                    Original musical creations. Stories inspired by life events.<br />
                    Connect with the human experiences of love, loss, and overcoming hardship.
                </p>
                <div class="mt-1-9 text-center">
                    <a href="/Shows" class="butn btn-lg primary white-hover">
                        <span>Upcoming Shows</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>
