<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="pe-lg-5">

                    <h2 class="font-weight-600">About Crizal</h2>

                    <p class="mb-2"><span class="font-weight-600">“Pride of the business for over a hundred years”</span> for public & private clients with finances saving economy.</p>
                    <p class="mb-3 mb-lg-4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="aboutus-text border-start mb-3 mb-lg-4">
                        <i class="fas fa-quote-left ps-3 ps-lg-4 opacity2"></i>
                        <p class="ps-3 ps-lg-4 mb-0">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <span class="ps-3 ps-lg-4 text-primary">Militon Wiafer, CEO</span>
                    </div>
                    <p class="mb-0">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="img/content/about-04.jpg">
                </div>
            </div>

        </div>
    </div>
</section>
