<section class="bg-light-gray">
    <div class="container">

        <div class="section-heading">
            <h2>The Band</h2>
        </div>

        <div class="row mt-n1-9">
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="team-members">
                    <div class="team-members-img"><img alt="Matthew Pierce" src="imgs/content/about/matt-pierce.jpg" /></div>
                    <div class="team-members-text">
                        <h4>Matthew Pierce</h4><span>Acoustic Guitar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="team-members">
                    <div class="team-members-img">
                        <img alt="Ed Gooding" src="imgs/content/about/ed-gooding.jpg" />
                    </div>
                    <div class="team-members-text">
                        <h4>Ed Gooding</h4><span>Bass Guitar</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="team-members">
                    <div class="team-members-img"><img alt="Shane Fowlkes" src="imgs/content/about/shane-fowlkes.jpg" /></div>
                    <div class="team-members-text">
                        <h4>Shane Fowlkes</h4><span>Drums, Percussion</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="team-members">
                    <div class="team-members-img"><img alt="Joe" src="imgs/content/about/joe-revell.jpg" /></div>
                    <div class="team-members-text">
                        <h4>Joe Revell</h4><span>Keyboards</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
