<section>
    <div class="container">

        <div class="row mt-n1-9">

            <div class="col-lg-6 mt-1-9">
                <div class="case-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="bg-img cover-background min-height-250" data-background="imgs/logos/reverb.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="case-block-inner">
                                <a href="https://www.reverbnation.com/Elle_Christine" target="_blank">
                                    Reverb Nation
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-1-9">
                <div class="case-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="bg-img cover-background min-height-250" data-background="imgs/logos/bandcamp.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="case-block-inner">
                                <a href="https://ellechristine.bandcamp.com/" target="_blank">
                                    Bandcamp
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-1-9">
                <div class="case-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="bg-img cover-background min-height-250" data-background="imgs/logos/youtube.png"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="case-block-inner">
                                <a href="https://www.youtube.com/@@ellechristinemusic" target="_blank">
                                    YouTube
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
