<section>

    <div class="container">
        <div class="section-heading">
            <h2>Gallery</h2>
            <p class="w-md-75 w-lg-55">Latest pictures and videos.</p>
        </div>

        <div class="row portfolio-gallery mt-n1-9">

@*             template
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-1.jpg"
                 data-sub-html="<h4 class='text-white'>detail heading</h4><p>detail text</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-1.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">mouseover text</span>
                        <h3 class="mb-0 h5">mouseover heading</h3>
                    </a>
                </div>
            </div>
 *@
             @* jun 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-1.jpg"
                 data-sub-html="<h4 class='text-white'>Wayside Inn, June 2024</h4><p>Elle &amp; band</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-1.jpg" class="border-radius-10" alt="Elle Christine and band" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle &amp; band</span>
                        <h3 class="mb-0 h5">Wayside Inn, June 2024</h3>
                    </a>
                </div>
            </div>

            @* jun 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-2.jpg"
                 data-sub-html="<h4 class='text-white'>Wayside Inn, June 2024</h4><p>Elle &amp; band</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-2.jpg" class="border-radius-10" alt="Elle Christine and band" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle &amp; band</span>
                        <h3 class="mb-0 h5">Wayside Inn, June 2024</h3>
                    </a>
                </div>
            </div>

            @* jun 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-3.jpg"
                 data-sub-html="<h4 class='text-white'>Wayside Inn, June 2024</h4><p>Matt Pierce</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-3.jpg" class="border-radius-10" alt="Matt Pierce" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Matt Pierce</span>
                        <h3 class="mb-0 h5">Wayside Inn, June 2024</h3>
                    </a>
                </div>
            </div>

            @* jun 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-4.jpg"
                 data-sub-html="<h4 class='text-white'>Wayside Inn, June 2024</h4><p>Shane Fowlkes</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-4.jpg" class="border-radius-10" alt="Shane Fowlkes" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Shane Fowlkes</span>
                        <h3 class="mb-0 h5">Wayside Inn, June 2024</h3>
                    </a>
                </div>
            </div>

            @* jun 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/06082024-5.jpg"
                 data-sub-html="<h4 class='text-white'>Wayside Inn, June 2024</h4><p>Ed Gooding</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/06082024-5.jpg" class="border-radius-10" alt="Ed Gooding" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Ed Gooding</span>
                        <h3 class="mb-0 h5">Wayside Inn, June 2024</h3>
                    </a>
                </div>
            </div>

            @* may 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/elle-new-kent-winery-may-2024.jpg"
                 data-sub-html="<h4 class='text-white'>Elle Christine</h4><p>New Kent Winery. May 2024</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-new-kent-winery-may-2024.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle Christine</span>
                        <h3 class="mb-0 h5">New Kent Winery. May 2024</h3>
                    </a>
                </div>
            </div>

            @* apr 2024 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/new-kent-winery-apr-2024.jpg"
                 data-sub-html="<h4 class='text-white'>Elle &amp; Matt</h4><p>New Kent Winery. Apr 2024</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/new-kent-winery-apr-2024.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle &amp; Matt</span>
                        <h3 class="mb-0 h5">New Kent Winery. Apr 2024</h3>
                    </a>
                </div>
            </div>

            @* dec 2023 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/elle-3.jpg"
                 data-sub-html="<h4 class='text-white'>Elle Christine</h4><p>Recording. Dec 2023</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-3.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle Christine</span>
                        <h3 class="mb-0 h5">Recording. Dec 2023</h3>
                    </a>
                </div>
            </div>

            @* nov 2023 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/elle-matt.jpg"
                 data-sub-html="<h4 class='text-white'>Elle &amp; Matt</h4><p>Promo shot. Nov 2023</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-matt.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle &amp; Matt</span>
                        <h3 class="mb-0 h5">Promo shot. Nov 2023</h3>
                    </a>
                </div>
            </div>

            @* nov 2023 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/elle-2.jpg"
                 data-sub-html="<h4 class='text-white'>Elle Christine</h4><p>Poe's Pub. Nov 2023</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-2.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle Christine</span>
                        <h3 class="mb-0 h5">Poe's Pub. Nov 2023</h3>
                    </a>
                </div>
            </div>

            @* may 2023 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                    data-wow-delay="100ms"
                    data-src="imgs/content/gallery/elle-1.jpg"
                    data-sub-html="<h4 class='text-white'>Elle Christine</h4><p>Open mic night. May 2023</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-1.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle Christine</span>
                        <h3 class="mb-0 h5">Open mic night. May 2023</h3>
                    </a>
                </div>
            </div>

            @* may 2023 *@
            <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn"
                 data-wow-delay="100ms"
                 data-src="imgs/content/gallery/elle-matt-may-2023.jpg"
                 data-sub-html="<h4 class='text-white'>Elle &amp; Matt</h4><p>Three Notch'd Brewery. May 2023</p>">
                <div class="portfolio-style1">
                    <img src="imgs/content/gallery/elle-matt-may-2023.jpg" class="border-radius-10" alt="Elle Christine" />
                    <a href="#!" class="portfolio-text">
                        <span class="display-31 font-weight-700 text-orange letter-spacing-2 text-uppercase d-block mb-2">Elle &amp; Matt</span>
                        <h3 class="mb-0 h5">Three Notch'd Brewery. May 2023</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>

