<section>

    <div class="container">
        <div class="section-heading">
            <h2>Our Latest Projects</h2>
            <p class="w-md-75 w-lg-55">Business consectetur adipisicing elit eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud exercitation consequat.</p>
        </div>

        <div class="row">

            <!-- Start links -->
            <div class="filtering col-sm-12 text-center">
                <span data-filter='*' class="active">show all</span>
                <span data-filter='.develop'>web design</span>
                <span data-filter='.design'>photography </span>
                <span data-filter='.graphic'>branding</span>
                <span data-filter='.graphic'>graphic</span>
            </div>
            <!-- End links -->

        </div>

        <!-- start portfolio gallery -->
        <div class="portfolio-gallery-isotope text-center row">

            <div class="col-md-6 col-lg-4 mt-1-9 items design" data-src="img/projects/pro-1.jpg" data-sub-html="<h4 class='text-white'>Creative Book #01</h4><p>Design</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-1.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Design</p>
                        <h4>Creative Book</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9 items design" data-src="img/projects/pro-2.jpg" data-sub-html="<h4 class='text-white'>Responsive Design #02</h4><p>Design</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-2.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Design</p>
                        <h4>Responsive Design</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9 items develop" data-src="img/projects/pro-3.jpg" data-sub-html="<h4 class='text-white'>Design Mockup #03</h4><p>Develop</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-3.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Develop</p>
                        <h4>Design Mockup</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9 items graphic" data-src="img/projects/pro-4.jpg" data-sub-html="<h4 class='text-white'>Watch Mockup #04</h4><p>Graphic</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-4.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Graphic</p>
                        <h4>Watch Mockup</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9 items develop" data-src="img/projects/pro-5.jpg" data-sub-html="<h4 class='text-white'>Creative Design #05</h4><p>Develop</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-5.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Develop</p>
                        <h4>Creative Design</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-1-9 items design" data-src="img/projects/pro-6.jpg" data-sub-html="<h4 class='text-white'>Watch Mockup #06</h4><p>Design</p>">
                <div class="project-grid-style2">
                    <div class="project-details">
                        <img src="img/projects/pro-6.jpg" alt="...">
                        <div class="portfolio-icon">
                            <a href="#!"><i class="fas fa-search-plus"></i></a>
                        </div>
                        <div class="portfolio-post-border"></div>
                    </div>
                    <div class="portfolio-title">
                        <p>Design</p>
                        <h4>Watch Mockup</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- end portfolio gallery -->

    </div>

</section>
