@using ElleChristine.Web.Models

@model Video

<div class="col-12 my-5">
    <h4 class="text-primary">@Model.Description</h4>
    <div class="embed-responsive embed-responsive-16by9">
        @Html.Raw(Model.Html)
    </div>
</div>


