@page

@using ElleChristine.Web.Pages

@model AboutModel
@{
    ViewData["Title"] = "About Elle Christine";
}

<partial name="Partials/About/_PageTitle" />
<partial name="Partials/About/_About" />
<partial name="Partials/About/_Band" />

<div class="my-5"></div>
