@page
@model AboutModel
@{
    ViewData["Title"] = "About RVA Gutter Pros &amp; Exterior Services";
}

@* https://rvagutterpros-app.azurewebsites.net/template/about.html *@

<partial name="Partials/About/_PageTitle" />
<partial name="Partials/About/_About" />
<partial name="Partials/About/_Band" />

<div class="my-5"></div>
