@page
@model GalleryModel
@{
    ViewData["Title"] = "Samples of our work | RVA Gutter Pros &amp; Exterior Services";
}

<partial name="Partials/Gallery/_PageTitle" />
<partial name="Partials/Gallery/_Gallery" />

<div class="my-5"></div>