@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery - Elle Christine";
}

<partial name="Partials/Gallery/_PageTitle" />
<partial name="Partials/Gallery/_Gallery" />

<div class="my-5"></div>