@page
@model IndexModel
@{
    ViewData["Title"] = "Gutter Service | RVA Gutter Pros &amp; Exterior Services | Midlothian, VA";
}

<partial name="Partials/Home/_PageTitle" />
<partial name="Partials/Home/_About" />
<partial name="Partials/Home/_Upcoming" />

<div class="my-5"></div>