@page
@model IndexModel
@{
    ViewData["Title"] = "Elle Christine";
}

<partial name="Partials/Home/_PageTitle" />
<partial name="Partials/Home/_About" />
<partial name="Partials/Home/_Upcoming" />

<div class="my-5"></div>