@page

@using ElleChristine.Web.Pages

@model ShowsModel

@{
    ViewData["Title"] = "Shows - Elle Christine";
}

<partial name="Partials/Shows/_PageTitle" />


<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-10">
                <div class="row">

                    <div class="section-heading">
                        <h2>Upcoming Shows</h2>
                    </div>

                    @foreach (var show in Model.UpcomingShows)
                    {
                        <partial name="Partials/Shows/_Show" model="show" />
                    }

                    <div class="section-heading mt-5">
                        <h2>Previous Shows</h2>
                    </div>

                    @foreach (var show in Model.PreviousShows)
                    {
                        <partial name="Partials/Shows/_Show" model="show" />
                    }

                </div>
            </div>
        </div>
    </div>
</section>

<div class="my-5"></div>

