<section>
    <div class="container">
        <div class="row justify-content-center">
            <!--  start blog left-->
            <div class="col-md-11 col-lg-10">
                <div class="row">
                    <div class="col-lg-12 mb-1-9">

                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-1.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">April 10, <script>document.write(new Date().getFullYear())</script></div>
                                        <h3><a href="blog-post.html">Powerful tool for your customer</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-2.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">April 02, <script>document.write(new Date().getFullYear())</script></div>
                                        <h3><a href="blog-post.html">Growth your business strategy</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="col-lg-12 mb-1-9">

                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-3.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">March 30, <script>document.write(new Date().getFullYear())</script></div>
                                        <h3><a href="blog-post.html">Digital service marketing agency</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-4.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <p class="d-block text-muted mb-2 small">March 18, <script>document.write(new Date().getFullYear())</script></p>
                                        <h3><a href="blog-post.html">Business adviser analyzing financial</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="col-lg-12 mb-1-9">

                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-5.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <p class="d-block text-muted mb-2 small">March 02, <script>document.write(new Date().getFullYear())</script></p>
                                        <h3><a href="blog-post.html">The progress work of the company</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">

                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100" data-overlay-dark="0" data-background="img/blog/blog-6.jpg"></div>
                                </div>
                                <div class="col-md-6">

                                    <div class="card-body">
                                        <p class="d-block text-muted mb-2 small">February 26, <script>document.write(new Date().getFullYear())</script></p>
                                        <h3><a href="blog-post.html">The business woman hard work</a></h3>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        <span class="read-more"><a href="blog-post.html">read more...</a></span>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                </div>

                <div class="row mt-1-9 mt-lg-6">
                    <div class="col-12">
                        <div class="pagination text-small text-uppercase text-extra-dark-gray">
                            <ul class="ps-0 mb-0">
                                <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li><a href="#!">2</a></li>
                                <li><a href="#!">3</a></li>
                                <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--  end blog left-->

        </div>
    </div>
</section>
