<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-10">
                <div class="row">

                    @* 05.02.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                            data-overlay-dark="0"
                                         data-background="imgs/content/gigs/garden-grove.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">May 2, 2024</div>
                                        <h3>Garden Grove Brewing & Urban Winery</h3>
                                        <p>
                                            Richmond, VA<br />
                                            8-10 pm
                                        </p>

                                        <p>
                                            <strong>Acoustic Performance</strong> by Elle and Matt.
                                            Garden Grove Brewing & Urban Winery is Richmond’s first production facility to serve its customers.
                                            Garden Grove Brewing and Urban Winery brings wines and beers crafted under those perfect conditions directly to Richmond, VA.
                                        </p>

                                        <div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.facebook.com/GardenGroveBrewing">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/3445+W+Cary+St,+Richmond,+VA+23221/@@37.5548285,-77.4885531,17z/data=!3m1!4b1!4m6!3m5!1s0x89b113f1c2800d79:0xaeea43d86f3c7ce!8m2!3d37.5548243!4d-77.4859728!16s%2Fg%2F11bw4f4dz6?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>

                    @* 05.04.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/beaverdam-wine-festival.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">May 4, 2024</div>
                                        <h3>Beaverdam Wine Festival</h3>
                                        <p>
                                            Beaverdam, VA<br />
                                            2-5 pm
                                        </p>
                                        <p>
                                            <strong>Acoustic Performance</strong> by Elle and Matt.
                                            Pop's Country Store Museum & Beaverdam Depot 4 local wineries and 2 live bands.
                                            Food Music Vendors Auction Activities, Kids games.
                                        </p>

                                        <div class="row">
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.facebook.com/BeaverdamWineFestival">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/19419+Beaver+Dam+Rd,+Beaverdam,+VA+23015/@@37.9423467,-77.6580442,17z/data=!3m1!4b1!4m6!3m5!1s0x89b14c75c75d4c5b:0x252e8dc043eebfcf!8m2!3d37.9423425!4d-77.6554693!16s%2Fg%2F11c1cw8w13?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </article>
                    </div>

                    @* 05.11.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/new-kent-winery.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">May 11, 2024</div>
                                        <h3>New Kent Winery</h3>
                                        <p>
                                            New Kent, VA<br />
                                            Time: 2-5pm
                                        </p>

                                        <p>
                                            Farm winery, brewery and tasting room located one mile off I-64 between Richmond and Williamsburg.
                                        </p>

                                        <div class="row">
                                            <div class="col-6">
                                                <a target="_blank" href="https://newkentwinery.com/calendar">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/New+Kent+Winery+%26+Talleysville+Brewing+Company/@@37.5286939,-77.0762507,17z/data=!4m15!1m8!3m7!1s0x89b0e690ae67139f:0x4cb50b17677514dd!2s8400+Old+Church+Rd,+New+Kent,+VA+23124!3b1!8m2!3d37.5286897!4d-77.0736758!16s%2Fg%2F11c2fh9fl7!3m5!1s0x89b0e722fb9f51bf:0x4bad65718965e471!8m2!3d37.5290389!4d-77.0748577!16s%2Fg%2F1vqthnny?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    @* 06.07.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/wayside-inn.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">June 07, 2024</div>
                                        <h3>The Wayside Inn</h3>
                                        <p>
                                            Middletown, VA<br />
                                            6-9 pm
                                        </p>

                                        <p>
                                            The Wayside Inn &amp; Larrick's Tavern is nestled in the beautiful Shenandoah Valley of Middletown, Virginia.
                                            Since 1797, the Inn has offered visitors accommodations, dining, and entertainment throughout its long history.
                                        </p>

                                        <div class="row margin-top-bottom-20px">
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.thewaysideinn1797.com/live-music">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/7783+Main+St,+Middletown,+VA+22645/@@39.0304814,-78.2796484,17z/data=!3m1!4b1!4m6!3m5!1s0x89b5c06f3b8becd1:0xb51d22baa068e7fb!8m2!3d39.0304814!4d-78.2770681!16s%2Fg%2F11bw5004kx?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    @* 06.22.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/fest.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">June 22, 2024</div>
                                        <h3>Fest Biergarten</h3>
                                        <p>
                                            Midlothian, VA<br />
                                            8-10 pm
                                        </p>

                                        <p>
                                            Fest Biergarten is a local restaurant and a dog-friendly biergarten in
                                            Midlothian, Virginia. Great food, atmosphere, and beer!
                                        </p>

                                        <div class="row">
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.facebook.com/festmidlothian">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/Fest+Biergarten/@@37.4036034,-77.6890515,16z/data=!3m1!4b1!4m6!3m5!1s0x89b176c4e9bb5eed:0x3887e882626f584d!8m2!3d37.4036034!4d-77.6864712!16s%2Fg%2F11f2wc01jx?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    @* 07.20.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/honey-whytes.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">July 20, 2024</div>
                                        <h3>Honey Whyte's Bar</h3>
                                        <p>
                                            Richmond, VA<br />
                                            7-10 pm
                                        </p>

                                        <p>
                                            Honey Whyte's Bar is a Richmond favorite and known for it's burgers.
                                            Great food, atmosphere, drinks, and music!
                                        </p>

                                        <div class="row">
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.facebook.com/honey.whytes.bar">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/Honey+Whyte's+All+American+Cafe/@@37.5310042,-77.4268663,16z/data=!3m1!4b1!4m6!3m5!1s0x89b110e20810c787:0x64984b63d5c53704!8m2!3d37.5310042!4d-77.424286!16s%2Fg%2F1tdmfrwp?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    @* 07.21.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/tiny-porch.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">July 21, 2024</div>
                                        <h3>Tiny Porch Concert</h3>
                                        <p>
                                            Richmond, VA<br />
                                            6:00 - 6:50 pm
                                        </p>

                                        <p>
                                            Elle Christine will be performing in the Richmond Tiny Porch Concert series.
                                        </p>

                                        <div class="row margin-top-bottom-20px">
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/406+W+25th+St,+Richmond,+VA+23225/@@37.5194766,-77.4613212,16z/data=!3m1!4b1!4m6!3m5!1s0x89b1119d554a639d:0x31ddb7626ebd4505!8m2!3d37.5194724!4d-77.4587463!16s%2Fg%2F11pyp5krhr?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                    @* 08.02.2024 *@
                    <div class="col-lg-12 mb-1-9">
                        <article class="card blog-card">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <div class="card-img bg-img cover-background h-100"
                                         data-overlay-dark="0"
                                         data-background="imgs/content/gigs/new-kent-winery.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="d-block text-muted mb-2 small">August 02, 2024</div>
                                        <h3>New Kent Winery</h3>
                                        <p>
                                            New Kent, VA<br />
                                            Time: TBD
                                        </p>

                                        <p>
                                            Farm winery, brewery and tasting room located one mile off I-64 between Richmond and Williamsburg.
                                        </p>

                                        <div class="row margin-top-bottom-20px">
                                            <div class="col-6">
                                                <a target="_blank" href="https://newkentwinery.com/calendar">
                                                    <span class="fa fa-2x fa-globe fa-fw"></span>&nbsp;link
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a target="_blank" href="https://www.google.com/maps/place/New+Kent+Winery+%26+Talleysville+Brewing+Company/@@37.5286939,-77.0762507,17z/data=!4m15!1m8!3m7!1s0x89b0e690ae67139f:0x4cb50b17677514dd!2s8400+Old+Church+Rd,+New+Kent,+VA+23124!3b1!8m2!3d37.5286897!4d-77.0736758!16s%2Fg%2F11c2fh9fl7!3m5!1s0x89b0e722fb9f51bf:0x4bad65718965e471!8m2!3d37.5290389!4d-77.0748577!16s%2Fg%2F1vqthnny?entry=ttu">
                                                    <span class="fa fa-2x fa-map-marker"></span>&nbsp;map
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
